<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding  *ngFor="let n of notes">

      <ion-item routerLink="/note-detail/{{n.id}}">
      {{n.title}}
      </ion-item>
      <ion-item-options>
        <ion-button primary (click)="test(n.id)"><ion-icon name="build"></ion-icon></ion-button>
        <ion-button color="danger" (click)="deleteNote(n.id)"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>